<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header" data-background-color="red">
              <h4 class="title">User Accounts</h4>
              <p class="category">List of active and inactive user in the system</p>
            </div>
            <div class="card-content table-responsive">
              <table class="table table-hover">
                <thead class="text-warning">
                  <tr>
                    <th>Display Name</th>
                    <th>Username</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <tr class="filter-row">
                        <td><input (input)="Accounts.filterColumn('DisplayName', $event.target.value)" placeholder="Display Name"/></td>
                        <td><input (input)="Accounts.filterColumn('Username', $event.target.value)" placeholder="Username"/></td>
                        <td>
                            <select (input)="Accounts.filterColumn('IsActive', $event.target.value == 'Active' ? true : false)">
                                <option>Active</option>
                                <option>Inactive</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                  <tr *ngFor="let acct of Accounts.DataSource" (click)="onEdit(acct)">
                    <td>{{acct.DisplayName}}</td>
                    <td>{{acct.Username}}</td>
                    <td>{{acct.IsActive ? 'Active' : 'Inactive'}}</td>
                    <td class="td-actions text-right">
                        <button type="button" rel="tooltip" (click)="onDelete(acct)" title="Remove" class="btn btn-danger btn-simple btn-xs">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr/>
              <ul *ngIf="Accounts.DataSource.length > 0" class="nav nav-pills nav-pills-danger custom-pagination">
                      <li (click)="Accounts.movePrevious()"><a><i class="material-icons">keyboard_arrow_left</i></a></li>
                      <li *ngFor="let page of Accounts.Pages" [class.active]="Accounts.CurrentPage == page" (click)="Accounts.setCurrentPage(page)"><a>{{page}}</a></li>
                      <li (click)="Accounts.moveNext()"><a><i class="material-icons">keyboard_arrow_right</i></a></li>
                    </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header" data-background-color="green">
                  <h4 class="title">Create User</h4>
                  <p class="category">Create user and grant access to use the app</p>
                </div>
                <div class="card-content">
                  <div class="col-sm-12">
                    <div class="form-group form-black label-floating" style="margin:10px 0 0 0;">
                      <label class="control-label">Display Name</label>
                      <input type="text" [(ngModel)]="UserAccount.DisplayName" name="DisplayName" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group form-black label-floating" style="margin:10px 0 0 0;">
                      <label class="control-label">Username</label>
                      <input type="text" [(ngModel)]="UserAccount.Username" name="Username" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group form-black label-floating" style="margin:10px 0 0 0;">
                      <label class="control-label">Password</label>
                      <input type="password" [(ngModel)]="UserAccount.Password" name="Password" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-12">
                      <div class="checkbox">
                          <label>
                              <input [(ngModel)]="UserAccount.IsActive" name="IsActive" type="checkbox">
                              <span>Is Active User</span>
                          </label>
                      </div>
                  </div>
                  <span class="clearfix"></span>
                  <hr style="margin-left:15px;margin-right:15px;"/>
                  <div class="col-sm-12">
                      <button class="btn btn-success" (click)="onSaveAccount()">Save</button>
                      <button class="btn btn-danger pull-right" (click)="reset()">Reset</button>
                  </div>
                  <span class="clearfix"></span>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>