<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Total</p>
                        <h3 class="title">{{Total}}
                            <small>Logs</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">store</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Posted</p>
                        <h3 class="title">{{TotalPosted}}
                            <small>Logs</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Unposted</p>
                        <h3 class="title">{{TotalNotPosted}}
                            <small>Logs</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" *ngIf="!HasLogs">
                    <div class="col-md-12">
                        <div class="card">
                                <div class="card-content">
                                    <span>No logs yet</span>
                                </div>
                            </div>      
                    </div>
                </div>
                <div class="col-md-12" *ngIf="HasLogs">
                    <div class="card card-nav-tabs">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Logs</h4>
                            <p class="category">List of all transaction logs</p>
                          </div>

                        <div class="card-content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="profile">
                                    <table class="table table-hover">
                                        <thead class="text-warning">
                                            <tr>
                                                <th>Origin</th>
                                                <th>Transaction No</th>
                                                <th>Type</th>
                                                <th>Date</th>
                                                <th>Is Posted</th>
                                                <th>Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="filter-row">
                                                <td><input (input)="DataTable.filterColumn('Origin', $event.target.value)" placeholder="Origin"/></td>
                                                <td><input (input)="DataTable.filterColumn('TransactionNo', $event.target.value)" placeholder="Transaction No"/></td>
                                                <td><input (input)="DataTable.filterColumn('Type', $event.target.value)" placeholder="Type"/></td>
                                                <td><input (input)="DataTable.filterColumn('LogDate', $event.target.value)" placeholder="Date" type="date"/></td>
                                                <td>
                                                    <select (input)="DataTable.filterColumn('IsPosted', $event.target.value == 'Yes' ? true : false)">
                                                        <option>Yes</option>
                                                        <option>No</option>
                                                    </select>
                                                </td>
                                                <td><input (input)="DataTable.filterColumn('Remarks', $event.target.value)" placeholder="Remarks"/></td>
                                            </tr>
                                            <tr *ngFor="let log of DataTable.DataSource" title="Click to view details" (click)="viewDetail(log)">
                                                <td>{{log.Origin}}</td>
                                                <td>{{log.TransactionNo}}</td>
                                                <td>{{Type[log.Type]}}</td>
                                                <td>{{log.LogDate | date: 'dd/MM/yyyy'}}</td>
                                                <td>{{log.IsPosted ? "Yes" : "No"}}</td>
                                                <td>{{log.Remarks}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <hr/>
                                    <ul style="cursor: pointer;" *ngIf="DataTable.DataSource.length > 0" class="nav nav-pills nav-pills-danger custom-pagination">
                                            <li (click)="DataTable.movePrevious()" style="cursor: pointer;" ><a><i class="material-icons">keyboard_arrow_left</i></a></li>
                                            <li style="cursor: pointer;" *ngFor="let page of DataTable.Pages" [class.active]="DataTable.CurrentPage == page" (click)="DataTable.setCurrentPage(page)"><a>{{page}}</a></li>
                                            <li (click)="DataTable.moveNext()" style="cursor: pointer;"><a><i class="material-icons">keyboard_arrow_right</i></a></li>
                                          </ul>
                                </div>
                                <div class="tab-pane" id="messages">
                                    <table class="table table-hover">
                                            <thead class="text-warning">
                                                    <tr>
                                                        <th>Origin</th>
                                                        <th>Transaction No</th>
                                                        <th>Type</th>
                                                        <th>Date</th>
                                                        <th>Is Posted</th>
                                                        <th>Remarks</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                        <tr class="filter-row">
                                                                <td><input placeholder="Origin"/></td>
                                                                <td><input placeholder="Transaction No"/></td>
                                                                <td><input placeholder="Type"/></td>
                                                                <td><input placeholder="Date" type="date"/></td>
                                                                <td>
                                                                    <select>
                                                                        <option>Yes</option>
                                                                        <option>No</option>
                                                                    </select>
                                                                </td>
                                                                <td><input placeholder="Remarks"/></td>
                                                            </tr>
                                                    <tr *ngFor="let log of (Logs | transactionLogFilter:{ IsPosted: true })" title="Click to view details" (click)="viewDetail(log)">
                                                        <td>{{log.Origin}}</td>
                                                        <td>{{log.TransactionNo}}</td>
                                                        <td>{{Type[log.Type]}}</td>
                                                        <td>{{log.LogDate | date: 'dd/MM/yyyy'}}</td>
                                                        <td>{{log.IsPosted ? "Yes" : "No"}}</td>
                                                        <td>{{log.Remarks}}</td>
                                                    </tr>
                                                </tbody>
                                    </table>
                                    <hr/>
                                    <ul class="nav nav-pills nav-pills-danger custom-pagination">
                                            <li class="active"><a><i class="material-icons">keyboard_arrow_left</i></a></li>
                                            <li><a>1</a></li>
                                            <li><a>2</a></li>
                                            <li><a>3</a></li>
                                            <li><a>4</a></li>
                                            <li><a>5</a></li>
                                            <li><a><i class="material-icons">keyboard_arrow_right</i></a></li>
                                          </ul>
                                </div>
                                <div class="tab-pane" id="settings">
                                    <table class="table table-hover">
                                            <thead class="text-warning">
                                                    <tr>
                                                        <th>Origin</th>
                                                        <th>Transaction No</th>
                                                        <th>Type</th>
                                                        <th>Date</th>
                                                        <th>Is Posted</th>
                                                        <th>Remarks</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                        <tr class="filter-row">
                                                                <td><input placeholder="Origin"/></td>
                                                                <td><input placeholder="Transaction No"/></td>
                                                                <td><input placeholder="Type"/></td>
                                                                <td><input placeholder="Date" type="date"/></td>
                                                                <td>
                                                                    <select>
                                                                        <option>Yes</option>
                                                                        <option>No</option>
                                                                    </select>
                                                                </td>
                                                                <td><input placeholder="Remarks"/></td>
                                                            </tr>
                                                    <tr *ngFor="let log of (Logs | transactionLogFilter:{ IsPosted: false })" title="Click to view details" (click)="viewDetail(log)">
                                                        <td>{{log.Origin}}</td>
                                                        <td>{{log.TransactionNo}}</td>
                                                        <td>{{Type[log.Type]}}</td>
                                                        <td>{{log.LogDate | date: 'dd/MM/yyyy'}}</td>
                                                        <td>{{log.IsPosted ? "Yes" : "No"}}</td>
                                                        <td>{{log.Remarks}}</td>
                                                    </tr>
                                                </tbody>
                                    </table>
                                    <hr/>
                                    <ul class="nav nav-pills nav-pills-danger custom-pagination">
                                        <li class="active"><a><i class="material-icons">keyboard_arrow_left</i></a></li>
                                        <li><a>1</a></li>
                                        <li><a>2</a></li>
                                        <li><a>3</a></li>
                                        <li><a>4</a></li>
                                        <li><a>5</a></li>
                                        <li><a><i class="material-icons">keyboard_arrow_right</i></a></li>
                                      </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>