<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">API</h4>
            <p class="category">List of available api from the database</p>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <tr>
                  <th>Name</th>
                  <th>URL</th>
                  <th>Active</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="APIs.length == 0">
                  <td colspan="4">
                    <label>No Records</label>
                  </td>
                </tr>
                <tr *ngFor="let api of APIs" (click)="Model = api">
                  <td>{{api.Name}}</td>
                  <td>{{api.URL}}</td>
                  <td>{{api.IsActive ? 'Yes' : 'No'}}</td>
                  <td class="td-actions text-right">
                      <button type="button" rel="tooltip" (click)="deleteApi(api.ID)" title="Remove" class="btn btn-danger btn-simple btn-xs">
                          <i class="material-icons">delete</i>
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">New API</h4>
            <p class="category">Store api info to the database</p>
          </div>
          <div class="card-content">
            <div class="col-sm-12">
              <div class="form-group form-black label-floating" style="margin:10px 0 0 0;">
                <label class="control-label">Name</label>
                <input type="text" [(ngModel)]="Model.Name" name="Name" class="form-control">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group form-black label-floating" style="margin:10px 0 0 0;">
                <label class="control-label">URL</label>
                <input type="text" [(ngModel)]="Model.URL" name="URL" class="form-control">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group form-black label-floating" style="margin:10px 0 0 0;">
                <label class="control-label">Description</label>
                <input type="text" [(ngModel)]="Model.Description" name="Description" class="form-control">
              </div>
            </div>

            <div class="col-sm-12">
              <label>Parameters</label>
              <table class="table table-hover" style="margin-bottom:50px;">
                <thead class="text-warning">
                  <tr>
                    <th> Name</th>
                    <th>Type</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let param of Model.Params">
                    <td>{{param.Name}}</td>
                    <td>{{Type[param.Type]}}</td>
                    <td class="td-actions text-right">
                        <button type="button" rel="tooltip" (click)="onDeleteParam(param)" title="Remove" class="btn btn-danger btn-simple btn-xs">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-group form-black label-floating" style="margin:10px 0 0 0;">
                        <!-- <label class="control-label">Description</label> -->
                        <input type="text" [(ngModel)]="NewParameter.Name" name="Name" class="form-control">
                      </div>
                    </td>
                    <td>
                        <div class="dropdown">
                            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="width:100%;">
                                {{Type[NewParameter.Type]}} 
                                <b class="caret" style="margin-left:10px;"></b>
                            </a>
                            <ul class="dropdown-menu">
                              <li><a (click)="NewParameter.Type = 'String'">STRING</a></li>
                              <li><a (click)="NewParameter.Type = 'Integer'">INTEGER</a></li>
                              <li><a (click)="NewParameter.Type = 'Float'">FLOAT</a></li>
                              <li><a (click)="NewParameter.Type = 'Date'">DATE</a></li>
                              <li><a (click)="NewParameter.Type = 'Boolean'">BOOLEAN</a></li>
                            </ul>
                          </div>
                    </td>
                    <td>
                      <button type="submit" (click)="onAddNewParam()" class="btn btn-danger btn-round btn-just-icon">
                        <i class="material-icons">add</i>
                        <div class="ripple-container"></div>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-sm-12">
              <div class="col-sm-6">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="Model.IsActive" name="IsActive" type="checkbox">
                    <span>Is Active</span>
                  </label>
                </div>
              </div>
              <div class="col0-sm-12">
                <button class="btn btn-success pull-right" (click)="onSave()">Save</button>
                <button class="btn btn-warning pull-right" (click)="onClear()">Clear</button>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>