<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">API</h4>
            <p class="category">List of available api from the database</p>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <tr>
                  <th>Name</th>
                  <th>URL</th>
                  <th>Action</th>
                  <th>Trans Type</th>
                  <th>Active</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                  <tr class="filter-row">
                      <td><input (input)="APIs.filterColumn('Name', $event.target.value)" placeholder="Name"/></td>
                      <td><input (input)="APIs.filterColumn('URL', $event.target.value)" placeholder="URL"/></td>
                      <td><input (input)="APIs.filterColumn('Action', $event.target.value)" placeholder="Action"/></td>
                      <td><input (input)="APIs.filterColumn('SboTransactionType', $event.target.value)" placeholder="Type"/></td>
                      <td>
                          <select (input)="APIs.filterColumn('IsActive', $event.target.value == 'Active' ? true : false)">
                              <option>Active</option>
                              <option>Inactive</option>
                          </select>
                      </td>
                      <td></td>
                  </tr>
                <tr *ngIf="APIs?.DataSource.length == 0">
                  <td colspan="4">
                    <label>No Records</label>
                  </td>
                </tr>
                <tr *ngFor="let api of APIs?.DataSource" (click)="changeModel(api)">
                  <td>{{api?.Name}}</td>
                  <td>{{api?.URL}}</td>
                  <td>{{api?.Action}}</td>
                  <td>{{getAbbrType(api?.SboTransactionType)}}</td>
                  <td>{{api?.IsActive ? 'Yes' : 'No'}}</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" (click)="deleteApi(api?.ID)" title="Remove" class="btn btn-danger btn-simple btn-xs">
                      <i class="material-icons">delete</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <hr/>
            <ul *ngIf="APIs?.DataSource.length > 0" class="nav nav-pills nav-pills-danger custom-pagination">
                    <li (click)="APIs.movePrevious()"><a><i class="material-icons">keyboard_arrow_left</i></a></li>
                    <li *ngFor="let page of APIs.Pages" [class.active]="APIs.CurrentPage == page" (click)="APIs.setCurrentPage(page)"><a>{{page}}</a></li>
                    <li (click)="APIs.moveNext()"><a><i class="material-icons">keyboard_arrow_right</i></a></li>
                  </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">New API</h4>
            <p class="category">Store api info to the database</p>
          </div>
          <div class="card-content">
            <div class="col-sm-12">
              <div class="form-group form-black label-floating" style="margin:10px 0 0 0;">
                <label class="control-label">Name</label>
                <input type="text" [(ngModel)]="Model.Name" name="Name" class="form-control">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group form-black label-floating" style="margin:10px 0 0 0;">
                <label class="control-label">URL</label>
                <input type="text" [(ngModel)]="Model.URL" name="URL" class="form-control">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group form-black label-floating" style="margin:10px 0 0 0;">
                <label class="control-label">Description</label>
                <input type="text" [(ngModel)]="Model.Description" name="Description" class="form-control">
              </div>
            </div>
            <div class="col-sm-12" style="margin-top:15px;">
              <label>SBO Posting</label>
            </div>
            <div class="col-sm-12">
              <div class="form-group form-black label-floating" [class.is-empty]="Model.Action == ''" style="margin:10px 0 0 0;">
                <label class="control-label">Action</label>
                <select class="form-control" [(ngModel)]="Model.Action" name="Action">
                  <option value="" selected disabled hidden>Choose here</option>
                  <option>Add</option>
                  <option>Update</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group form-black label-floating" [class.is-empty]="Type[Model.SboTransactionType] == ''" style="margin:10px 0 0 0;">
                <label class="control-label">SBO Model</label>
                <select class="form-control" [(ngModel)]="Model.SboTransactionType" name="SboTransactionType">
                  <option value="" selected disabled hidden>Choose here</option>
                  <option style="padding:5px;" value="{{val.Name}}" *ngFor="let val of TransactionType">{{val.SBOType}}</option>
                </select>
              </div>
              <a [routerLink]="['/dashboard/sbo-api']"><small>Click here to view sbo model documentation</small></a>
              <br/>
              <a routerLink="/dashboard/sbo-api/model/detail/{{Model.SboTransactionType}}" *ngIf="Model.SboTransactionType != undefined"><small>Click here to view {{getAbbrType(Model?.SboTransactionType)}} type documentation</small></a>
            </div>
            <div class="col-sm-12" style="margin-top:10px;">
              <div class="form-group form-black label-floating" [class.is-empty]="ValueType[Model.ValueType] == ''" style="margin:10px 0 0 0;">
                <label class="control-label">Value Type</label>
                <select id="val-type" class="form-control" [(ngModel)]="Model.ValueType" name="ValueType">
                  <option value="" selected disabled hidden>Choose here</option>
                  <option value="0">Single Entity</option>
                  <option value="1">Multiple Entities</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="checkbox">
                <label>
                  <input [(ngModel)]="Model.IsActive" name="IsActive" type="checkbox">
                  <span>Is Active</span>
                </label>
              </div>
            </div>
            <span class="clearfix"></span>
            <hr style="margin-left:15px;margin-right:15px;" />
            <div class="col-sm-12">
              <button class="btn btn-success" (click)="onSave()">Save</button>
              <button class="btn btn-danger pull-right" (click)="onClear()">Reset</button>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>