<footer>
    <div class="container-fluid">
        <!-- <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        Company
                    </a>
                </li>
                <li>
                    <a href="#">
                        Portfolio
                    </a>
                </li>
                <li>
                    <a href="#">
                       Blog
                    </a>
                </li>
            </ul>
        </nav> -->
        <p class="copyright pull-right">
            Powered by <a href="http://1028innovations.com" target="_blank"><img src="/assets/img/1028.png" style="width:45px;"/></a>
        </p>
    </div>
</footer>
